<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{components/layout :: layout(~{::title}, ~{::#contents}, _)}">
<head>
    <title>Products</title>
</head>
<body>
<div id="contents">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Products</h2>
        <div class="btn-toolbar">
            <a th:href="@{/addProduct}" class="btn btn-sm btn-outline-secondary disabled">
                <i class="bi bi-plus-circle"></i>&nbsp;Add Product
            </a>
            <div class="d-inline-block">
                <div id="sort-menu" th:replace="~{components/sort-menu :: sort-menu('name-Name, price-Price')}"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/products}" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Search"
                           th:value="${param.search} ?: _">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(products)}">
                <td colspan="3">
                    No products
                </td>
            </tr>
            <tr th:each="product, status : ${products}">
                <td th:text="${status.count}">1</td>
                <td th:text="${product.name}">Some product</td>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')}">399.99</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center text-secondary mb-3">
        <div th:replace="~{components/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>